/* @keyframes lift{
    0% {box-shadow: 0px 0px 0px black;}
    25%{box-shadow: 2px 2px 1px black;}
    50%{box-shadow: 4px 4px 2px black;}
    75%{box-shadow: 8px 8px 4px black};
    100%{box-shadow: 16px 16px 8px black;}
}

#Uix:hover{
    animation-name: lift;
    animation-duration: 3s;
} */