body{
    width: 100%;
}
ul{
    list-style: none;
    padding-left: 0;
}
#skillsList li{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
}

#dev, #html5, #library, #api, #ice{
    background-color: rgba(0, 0, 0, 0.3)
}

#skills, #work, #Uix, #dev{
    padding-top: 1.5em;
}

#Uix, #dev, #work{
    padding-bottom: 1.5em;
}

#resume{
    padding-top: 3em;
}

/* ///// Resume ///// */
#Uix{
    padding-left: 4em;
}
#dev{
    padding-right: 4em;
}

/* ///// SKILLS ///// */
#capPic, #apiPic, #rmsPic, #icePic{
    padding-right: 0em;
    padding-left: 0em;
}

/* ///// CONTACT ///// */
#contact {
    background-color: grey;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
#contact .col-4:hover{
    color: white;
}

/* #contact h2{
    font-size: 4em;
    padding-left: 2em;
    padding-top: 0.1em;
}
#contact li{
    font-size: 1.5em;
    padding-right: 4em;
    padding-top: 0.1em;
} */