body{
    width: 100%;
    /* background-color:; */
}
ul{
    list-style: none;
    padding-left: 0;
}
#resume, #skills, #work{
    padding-bottom: 1em;
}

/* ///// SKILLS ///// */
#skills{
    font-size: 1.2em;
}
#skillsList li{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
}

#dev, #html5, #library, #api, #ice{
    background-color: #2978b5;
}

#Uix, #dev{
    padding-top: 1.5em;
}

#Uix, #dev{
    padding-bottom: 1.5em;
}

#resume{
    padding-top: 3em;
}

/* ///// Resume ///// */
#resHead{
    padding-bottom: 5em;
    padding-top: 5em;
    background-color: #fbe0c4;
    margin-bottom: .5em;
}
#Uix{
    padding-left: 4em;
    background-color: #8ab6d6;
}
#dev{
    padding-right: 4em;
}

/* ///// PREVIOUS WORK ///// */
#workHead, #skillsHead, #aboutHead{
    padding-bottom: 3em;
    padding-top: 3em;
    background-color: #fbe0c4;
    margin-bottom: .5em;
}
#capstone, #rms{
    background-color: #8ab6d6;
}

/* ///// SKILLS ///// */
#capPic, #apiPic, #rmsPic, #icePic{
    padding-right: 0em;
    padding-left: 0em;
}
#cert{
   background-color: #8ab6d6;
}

/* ///// CONTACT ///// */
#contact {
    background-color: #0061a8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
#contact .col-4:hover, #contact a:hover{
    color: white;
}
#about{
    padding-left: 5em;
    padding-right: 5em;
    color: white;
}
#contact a{
    text-decoration: none;
    color: black;
}
/* #contact h2{
    font-size: 4em;
    padding-left: 2em;
    padding-top: 0.1em;
}
#contact li{
    font-size: 1.5em;
    padding-right: 4em;
    padding-top: 0.1em;
} */