body{
    width: 100%;
    background-color: #fbe0c4;
}
ul{
    list-style: none;
    padding-left: 0;
}
#resume, #skills, #work{
    padding-bottom: 1em;
}

/* ///// SKILLS ///// */
#skills{
    font-size: 1.2em;
}
#skillsList li{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
}

#dev, #html5, #library, #api, #ice{
    background-color: white;
}

#Uix, #dev{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#resume{
    padding-top: 3em;
}

/* ///// Resume ///// */
#resHead{
    padding-bottom: 5em;
    padding-top: 5em;
    background-color: #fbe0c4;
    margin-bottom: .5em;
}
#Uix{
    transition: box-shadow .5s, background-color .5s;
    padding-left: 4em;
    background-color: rgb(189, 189, 189);
    border-left-width: 2px !important;
    border-top-width: 2px !important;
    border-bottom-width: 2px !important;
}
#Uix:hover{
    z-index: 1;
    background-color: white;
    box-shadow: 25px -25px 10px rgba(0,0,0,0.5);
}
#dev{
    transition: box-shadow .5s, background-color .5s, font-size .5s;
    background-color: rgb(189, 189, 189);
    padding-right: 4em;
    border-right-width: 2px !important;
    border-top-width: 2px !important;
    border-bottom-width: 2px !important;
}
#dev:hover{
    z-index: 1;
    background-color: white;
    box-shadow: -25px -25px 10px rgba(0,0,0,0.5);
}
#Uix, #dev{
    border-style: solid;
    border-color: black !important;
    border-width: 2px;
}
#Uix p, #dev p{
    font-size: 1.5em;
}

/* ///// PREVIOUS WORK ///// */
#workHead, #skillsHead, #aboutHead{
    padding-bottom: 3em;
    padding-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    /* background-color: #fbe0c4; */
    margin-bottom: .5em;
    border-style: solid;
    border-color: black;
    background-color: white;
}
#work p{
    font-size: 1.2em;
}
#capstone, #rms{
    transition: background-color .5s;
    background-color: rgb(189, 189, 189);
    border-style: solid;
    border-color: black !important;
    border-left-width: 2px !important;
    border-right-width: 2px !important
}
#api{
    transition: background-color .5s;
    background-color: rgb(189, 189, 189);
    border-style:solid;
    border-color: black !important;
    border-right-width: 2px !important;
    border-left-width: 2px !important;
}
#ice{
    transition: background-color .5s;
    background-color: rgb(189, 189, 189);
    border-style: solid;
    border-color: black !important;
    border-left-width: 2px !important;
    border-right-width: 2px !important;
    border-bottom-width: 2px !important;
}
#capstone:hover, #rms:hover{
    z-index: 1;
    background-color: white;
}
#ice:hover, #api:hover{
    z-index: 1;
    background-color: white;
}

/* ///// SKILLS ///// */
#capPic, #apiPic, #rmsPic, #icePic{
    padding-right: 0em;
    padding-left: 0em;
}
#cert{
    transition: background-color .5s;
    background-color: rgb(189, 189, 189);
    border-top-width: 2px !important;
    border-bottom-width: 2px !important;
}
#cert:hover{
    background-color: white;
}
#html5, #cert, #library{
    border-style: solid;
    border-color: black !important;
}
#html5{
    transition: background-color .5s;
    background-color: rgb(189, 189, 189);
    border-left-width: 2px !important;
    border-top-width: 2px !important;
    border-bottom-width: 2px !important;
}
#html5:hover{
    background-color: white;
}
#library{
    transition: background-color .5s;
    background-color: rgb(189, 189, 189);
    border-right-width: 2px !important;
    border-top-width: 2px !important;
    border-bottom-width: 2px !important;
}
#library:hover{
    background-color: white;
}

/* ///// CONTACT ///// */
#contact {
    background-color: rgb(46, 46, 46);
    color: rgb(223, 223, 223);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
#contact .col-4:hover, #contact a:hover{
    color: white;
}
#about{
    padding-left: 5em;
    padding-right: 5em;
    line-height: 2em;
    color: #fbe0c4;
}
#contact a{
    text-decoration: none;
    color: #fbe0c4;
}
/* #contact h2{
    font-size: 4em;
    padding-left: 2em;
    padding-top: 0.1em;
}
#contact li{
    font-size: 1.5em;
    padding-right: 4em;
    padding-top: 0.1em;
} */

